body {
    margin: 0;
    font-size: 15px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container_1 {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container_2 {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.header {
    margin: 0;
}

.header__inner {
    display: flex;
    padding: 13px;
}

.header__text {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

.basic {
    height: auto;
    /*background: url("static/imgs/background.jpg") center;*/
    background-color: black;
    padding-top: 1px;
    padding-bottom: 50px;
}

.basic__inner {
    display: flex;
    margin: 75px 0 35px 0;
}

.block {
    height: 468px;
    margin: 0 7px 0 7px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.071);
    width: 50%;
    text-align: center;
}

.block__2 {
    height: 468px;
    margin: 0 7px 0 7px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.071);
    width: 50%;
    text-align: center;
}

.block__3 {
    height: 468px;
    margin: 0 7px 0 7px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.071);
    width: 100%;
    text-align: center;
}

.block__4 {
    height: auto;
    margin: 0 7px 0 7px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.071);
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
}

.block__text {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 24px;
    margin-top: 50px;
}

.block__text_1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 24px;
    margin-top: 171px;
}

button{
    font-family: 'Roboto', sans-serif;
    margin-top: 26px;
    width: 110px;
    height: 24px;
    background-color: #ffffff;
    color: #080710;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

button.like {
    margin: 5px 0 16px 0;
    height: 26px;
    width: 39px;
    font-size: 17px;
    padding: 1px 0 3px 0;
    border-radius: 5px;
    border: none;
}

label{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 500;
}

input{
    font-family: 'Roboto', sans-serif;
    display: block;
    height: 33px;
    width: 380px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 300;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}


.text {
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 500;
}

.footer {
    margin-left: auto;
    margin-right: auto;
}

.footer__inner {
    display: flex;
    padding: 13px;
}

.footer__text {
    font-family: 'DM Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 17px;
}

.post {
    width: 88%;
    border-radius: 14px;
    border: 2px solid #00ffff29;
    padding: 0 20px 0 10px;
    margin: 14px auto 3px auto;
}

/*.blue-thumb {*/
/*    color: transparent;*/
/*    text-shadow: 0 0 0 dodgerblue;*/
/*}*/

.like_block {
    display: flex;
    margin: 15px 0 15px 15px;
    width: 50%;
}

.like_count {
    font-family: 'DM Sans', sans-serif;
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #00d188;
    margin: 5px 14px 0 0;
}

.block_img {
    height: 221px;
    margin: 20px 0 0 10px;
    border-radius: 12px;
    cursor: default;
}

.block_img {
    height: 221px;
    margin: 20px 0 0 10px;
    border-radius: 12px;
    cursor: default;
}